#main {
  background-image: url("../image/back-image-101.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 0;
  background-size: cover;
  object-fit: cover;
}
#main .shop_name {
  font-size: 3rem;
  overflow-y: hidden;
}
#main .shop_name {
  padding: 23.5% 0;
}
#videos-section {
  min-height: 50vh;
}
#videos-section .video {
  padding: 2px;
}
.video-text h3 {
  margin-top: 80px;
  margin-bottom: 14px;
}
.info-main {
  padding:2px 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  align-items: center;
}

.image-info-text-box {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.image-info-text-box img {
  width: 80%;
  height: 50vh;
  padding-bottom: 21px;
  object-fit: cover;
}

.text-info-text-box {
  text-align: center;
}
.text-info-text-box h2 {
  padding-bottom: 10px;
}
.text-info-text-box p {
  padding: 0 10vh;
  text-indent: 50px;
  text-align: justify;
  margin-bottom: 50px;
  text-shadow: 0 0 black;
  font-size: 23px;
}
