.container {
  text-align: center;
  max-width: 363vh;
}

.container h1 {
  font-size: xx-large;
  padding: 20px 0;
}

.container-input {
  display: flex;
}

.container-input label {
  font-size: 25px;
}

.container-input .photo input {
  margin: 0 20px;
  width: auto;
  margin-top: 46px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid var(--color-logo);
  font-family: var(--font-family-Domine);
  border-color: var(--color-logo);
  color: var(--color-logo);
  font-weight: bold;
}

.container-input input {
  margin: 0 20px;
  width: auto;
  margin-top: 52px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid var(--color-logo);
  font-family: var(--font-family-Domine);
  border-color: var(--color-logo);
  color: var(--color-logo);
  font-weight: bold;
}

.container-input textarea {
  margin: 0 20px;
  margin-top: 10px;
  width: auto;
  margin: 8px 0;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid var(--color-logo);
  font-family: var(--font-family-Domine);
  border-color: var(--color-logo);
  color: var(--color-logo);
  font-weight: bold;
}

.container-input select {
  margin: 0 20px;
  margin-top: 10px;
}

.container-input select {
  margin: 0 20px;
  width: auto;
  margin-top: 52px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid var(--color-logo);
  font-family: var(--font-family-Domine);
  border-color: var(--color-logo);
  color: var(--color-logo);
  font-weight: bold;
}

.container button {
  margin: 22px 77px;
  padding: 14px 70px;
  size: 3vh;
  border: 2px solid var(--color-black);
  border-radius: 26px 26px;
  color: var(--color-black);
  background-color: var(--color-white);
  transition: 1s linear;
}

.container button:hover {
  margin-top: 3px;
  border: 2px solid var(--color-rgbg);
  background-color: var(--color-rgb);
  /*<--not color in defind*/
  border-radius: 26px 26px;
  color: var(--color-rgbg);
}

.ProductList {
  margin-top: 15px;
  margin: 0 30px;
}

.ProductList h2 {
  text-align: center;
  margin: 3vh 0;
}

.ProductList table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}

.ProductList table thead th,
td {
  border: 2px solid var(--color-logo);
  text-align: left;
  padding: 10px;
}
.ProductList #table-body tr td img{
  width: 60px;
  height: 60px;
}
.ProductList #table-body tr td button{
  margin: 0 11px 0 0;
  padding: 8px;
  color: var(--color-green);
  border: hidden;
  background-color: var(--color-white);
  font-size: 30px;
cursor: pointer;
}
.ProductList #table-body tr td button .bi-trash3{
  /* margin: 0 11px 0 0;
  padding: 8px;
  color: var(--color-green);
  border: hidden;
  background-color: var(--color-white);
  font-size: 30px;
cursor: pointer; */
color: var(--color-red);
}
