body {
  background-color: var(--color-black);
  color: var(--color-logo);
}

hr {
  border: 1px solid var(--color-logo);
}

h5 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 38px;
}

.navber-img {
  text-align: center;
  /* line-height: 2px solid var(--color-logo ); */
}

.navber-img img {
  width: 40vh;
}

.password-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 17vh 18vh;
  /* background-image: url(../image/B-2.jpg); */
  color: white;
  margin: 10vh 58vh;
  /* border: 2px solid var(--color-logo); */
}

/* username */
.username {
  font-size: var(--font-size);
}

.username label {
  padding-right: 20px;
}
.username label i {
  padding: 0 5px;
  color: var(--color-logo);
}

.username input {
  width: auto;
  margin: 8px 0;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid var(--color-white);
  font-family: var(--font-family-Domine);
  border-color: var(--color-white);
  color: var(--color-white);
  font-weight: bold;
  padding-right: 29px;
}

/* Password */
.password {
  font-size: var(--font-size);
}

.password label {
  padding-right: 20px;
}

.password label i {
  padding: 0 5px;
  color: var(--color-logo);
}
.password input {
  width: auto;
  margin: 8px 0;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid var(--color-white);
  font-family: var(--font-family-Domine);
  border-color: var(--color-white);
  color: var(--color-white);
  font-weight: bold;
  padding-right: 35px;
}

/* security */
.security_code {
  font-size: var(--font-size);
}

.security_code label {
  padding-right: 20px;
}

.security_code label i {
  padding: 0 5px;
  color: var(--color-logo);
}
.security_code input {
  width: auto;
  margin: 8px 0;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid var(--color-white);
  font-family: var(--font-family-Domine);
  border-color: var(--color-white);
  color: var(--color-white);
  font-weight: bold;
}

/* button */
 button {
  margin: 7px 77px;
  padding: 14px 70px;
  size: 3vh;
  border: 2px solid var(--color-black);
  border-radius: 26px 26px;
  color: var(--color-black);
  background-color: var(--color-white);
  transition: 1s linear;
}

form button:hover {
  border: 2px solid var(--color-rgbg);
  background-color: var(--color-rgb);
  /*<--not color in defind*/
  border-radius: 26px 26px;
  color: var(--color-white);
}
