* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#preloader {
  background: var(--color-white) url(videos/gold-coin.gif) no-repeat center center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

section {
  min-width: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}
h1 {
  font-family: var(--font-family-Roboto);
}
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-Domine);
}
h5 {
  font-size: 31px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* header section */
#hero-section{
    min-width: 100vh;
  min-height: 20vh;
}
section:nth-child(1) {
  min-height: 20vh;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.section-1 {
  margin-top: 20px;
  padding-left: 21px;
}

.section-1 .search-box a {
  text-decoration: none;
  color: var(--color-black);
  font-family: --font-family-Roboto;
}

.section-1 .search-box a i {
  margin-right: 10px;
}

.section-1 .search-box label {
  cursor: pointer;
}

.section-1 .contact {
  margin-top: 35px;
}

.section-1 .contact p i {
  margin-right: 10px;
}

.section-1 .contact p:nth-child(1) {
  margin-bottom: 9px;
}

.section-2 img {
  width: 50vh;
  margin-right: 119px;
}

.section-3 {
  margin-top: 20px;
  padding-right: 21px;
}

.social-networking {
  font-size: 30px;
}

/* hero-2 */

.hero-2 .nav {
  color: var(--color-black);
  padding-top: 23px;
  padding-bottom: 32px;
  padding-left: 100px;
  padding-right: 100px;
}

.hero-2 .nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-2 .nav ul li {
  list-style: none;
  color: var(--color-black);
}

.hero-2 .nav ul li a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}
.hero-2 .nav ul li a:hover {
  color: var(--color-blue);
}

/* section main */

#main {
  background-color: var(--color-white);
}

#main {
  background-image: url("./image/jewellery-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -107vh;
  background-size: cover;
}

#main .shop_name {
  color: var(--color-white);
  text-align: center;
  flex-direction: column;
  font-size: 3rem;
  padding-top: 18%;
  overflow-x: hidden;
}

#main .shop_name h1 {
  transition: 2s;
}

#main .shop_name h1:hover {
  transform: scale(1.2);
}

#main .shop_name p {
  font-size: 30px;
}

/* videos-section */
#videos-section .main-text {
  margin-top: 15px;
  text-align: center;
  animation-name: main-text;
  animation-duration: 10s;
}
@keyframes main-text {
  from {
    transform: translateX(-125vh);
  }
  to {
    transform: translateX(0);
  }
}

#videos-section .main-text h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 2rem;
}

#videos-section .main-text p {
  font-size: 20px;
}

#videos-section .video {
  display: flex;
  align-items: center;
  padding: 90px;
}

#videos-section .video video {
  width: 40%;
}

#videos-section .video .video-text {
  text-align: center;
  padding: 100px;
  font-size: 23px;
  animation-name: video-text;
  animation-duration: 10s;
}

@keyframes video-text {
  from {
    transform: translateX(125vh);
  }
  to {
    transform: translateX(0);
  }
}
#videos-section .video .video-text p {
  text-indent: 50px;
  text-align: justify;
}

#videos-section .upcoming_jewellery h2 {
  text-align: center;
  font-size: 2rem;
}

#videos-section .upcoming_jewellery .upcoming_jewellery-boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 90px;
  padding-right: 90px;
  gap: 20px;
}

#videos-section
  .upcoming_jewellery
  .upcoming_jewellery-boxs
  .upcoming_jewellery-box
  img {
  width: 65%;
  height: 237px;
  object-fit: cover;
}

#videos-section
  .upcoming_jewellery
  .upcoming_jewellery-boxs
  .upcoming_jewellery-box {
  text-align: center;
  width: 18%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 26px;
  transition: 2s;
}

#videos-section
  .upcoming_jewellery
  .upcoming_jewellery-boxs
  .upcoming_jewellery-box:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px 0 rgba(36, 193, 67, 0.2),
    0 6px 20px 0 rgba(36, 193, 67, 0.2);
}

#videos-section
  .upcoming_jewellery
  .upcoming_jewellery-boxs
  .upcoming_jewellery-box
  .upcoming_jewellery-box-text
  p {
  text-align: justify;
}

/* jewellery-section */
#jewellery-section {
  margin-bottom: 10vh;
}
#jewellery-section .jewellery-section-main h3 {
  text-align: center;
  font-size: 2rem;
}

#jewellery-section .jewellery-section-main .jewellery-section-main-image-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 90px;
  padding-right: 90px;
  gap: 30px;
}

#jewellery-section
  .jewellery-section-main
  .jewellery-section-main-image-box
  .jewellery-section-image-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#jewellery-section
  .jewellery-section-main
  .jewellery-section-main-image-box
  .jewellery-section-image-box {
  text-align: center;
  width: 18%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
}

#jewellery-section
  .jewellery-section-main
  .jewellery-section-main-image-box
  .jewellery-section-image-box:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px 0 rgba(36, 193, 67, 0.2),
    0 6px 20px 0 rgba(36, 193, 67, 0.2);
}

#jewellery-section
  .jewellery-section-main
  .jewellery-section-main-image-box
  .jewellery-section-image-box
  img {
  width: 65%;
  height: 237px;
  object-fit: cover;
}

#jewellery-section
  .jewellery-section-main
  .jewellery-section-main-image-box
  .jewellery-section-image-box
  .jewellery-section-image-box-text
  p {
  text-align: justify;
  padding-left: 55px;
  padding-right: 55px;
}

/* footer */

footer {
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
}

/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  text-align: initial;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: var(--color-white);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--color-white);
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: var(--color-white);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--color-white);
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: var(--color-white);
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.copy {
  margin-bottom: 0px;
  position: absolute;
  margin-top: 52px;
}
.copy p {
  text-align: center;
}
