body {
  background-image: url(../image/B-2.jpg);
}

.sign-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8vh;
  background-image: url(../image/B-2.jpg);
  color: white;
  margin: 16vh 22vh 16vh 22vh;
}

/* .sign-welcome-text {
  margin-right: 30vh;
} */

.sign-welcome-text h1 {
  margin-bottom: 5rem;
  font-size: 6rem;
  font-family: var(--font-family-Domine);
}

.sign-welcome-text p {
  text-align: justify;
  margin-bottom: 10vh;
  width: 60rem;
  padding-right: 55px;
}

.sign-in-page {
  font-family: var(--font-family-Domine);
}

.sign-in-page h2 {
  margin-top: 9vh;
  font-size: 2rem;
  margin-bottom: 3vh;
}

.sign-in-page label {
  font-size: 3vh;
}

.sign-in-page input {
  width: 100%;
  /* padding: 12px 20px; */
  margin: 28px 0;
  /* box-sizing: border-box; */
  border: 0;
  outline: 0;
  background: transparent;
  /* border: none; */
  border-bottom: 2px solid var(--color-white);
  /* background-color: var(--color-272729); */
  font-family: var(--font-family-Domine);
  border-color: var(--color-white);
  color: var(--color-white);
  font-weight: bold;
}
/* password show */

.i-con {
  position: absolute;
  margin: -56px 287px;
}



.bi-eye {
  display: none;
}


.bi-eye-slash {
  position: absolute;
  /* margin: 21px -26px; */
}
.sign-in-page button {
  margin-top: 21px;
  padding: 14px 70px;
  size: 3vh;
  border: 2px solid var(--color-black);
  border-radius: 26px 26px;
  color: var(--color-black);
  background-color: var(--color-white);
  transition: 1s linear;
}

.sign-in-page button:hover {
  border: 2px solid var(--color-rgbg);
  background-color: var(--color-rgb);/*<--not color in defind*/
  border-radius: 26px 26px;
  color: var(--color-white);
}

.sign-icon {
  width: 119px;
  display: flex;
}

.sign-in-page .sign-icon img {
  margin-left: 32px;
  margin-top: 17px;
  margin-right: 12px;
}
