/* !X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  section {
    /* min-height: 50vh; */
    min-width: 100%;
  }

  #hero-section {
    min-height: 13vh;
  }

  .hero #navbar-icon {
    border: none;
    background-color: var(--color-white);
    display: flex;
    margin: 26px 12px;
    font-size: 35px;
  }

  .hero-2 .nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
  }

  .section-1 {
    display: none;
  }

  .section-2 {
    display: flex;
    text-align: center;
    /* margin: 0 10vh; */
    justify-content: center;
  }

  .section-2 img {
    width: 90%;
    margin-right: 0;
    margin-left: 0;
  }

  .section-3 {
    display: contents;
  }

  .section-3 {
    padding-right: 0;
    margin-top: 20px;
  }

  .social-networking {
    display: contents;
  }

  .section-3 .social-networking a {
    margin-top: 0;
  }

  .hero-section {
    display: inline;
  }

  .hero-2 .nav {
    color: var(--color-black);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #Close {
    display: inline;
    background: none;
    border: none;
    font-size: 60px;
  }

  #hero_2 .hero-2 {
    display: none;
  }

  .nav {
    display: none;
  }

  .active {
    display: inline;
  }

  .hero-2 .nav ul {
    position: absolute;
    display: grid;
    text-align: center;
    animation-name: navbar;
    animation-duration: 2s;
    background-color: var(--color-logo);
    color: var(--color-black);
    width: 100%;
    height: 61%;
    justify-content: center;
  }

  .hero-2 .nav ul a {
    color: var(--color-white);
  }

  #nav-media {
    position: absolute;
  }

  @keyframes navbar {
    from {
      transform: translateX(-875px);
    }

    to {
      transform: translateX(0);
    }
  }

  #hero-2 ul li {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #hero-2 ul li a {
    font-weight: bolder;
    color: var(--color-white);
    font-family: var(--font-family-Domine);
  }

  #main {
    background-position-y: -3vh;
    background-size: 84vh;
    background-position-x: -8vh;
    min-height: 20vh;
  }

  #main .shop_name h1 {
    font-size: 50px;
  }

  #main .shop_name p {
    font-size: 18px;
  }

  #videos-section .main-text p {
    font-size: 22px;
    padding: 0px 50px;
  }

  #videos-section .video {
    padding: 8px 14px;
    display: grid;
  }

  #videos-section .video video {
    width: 100%;
    text-align: center;
    margin: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .video-text h3 {
    margin: 28px 0 14px 0;
  }

  #videos-section .video .video-text {
    padding: 0 30px;
  }

  .info-main {
    padding: 2px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  .image-info-text-box img {
    width: 60vh;
    height: 50vh;
    padding-bottom: 21px;
    object-fit: cover;
  }

  /* footer */
  .footer {
    width: 100%;
  }

  .footer-col {
    padding: 0 64px;
  }

  .copy p {
    padding: 0 64px;
  }
}

/* !Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 575.98px) {
  section {
    /* min-height: 50vh; */
    min-width: 100%;
  }

  #hero-section {
    min-height: 13vh;
  }

  .hero #navbar-icon {
    border: none;
    background-color: var(--color-white);
    display: flex;
    margin: 26px 12px;
    font-size: 35px;
  }

  .hero-2 .nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
  }

  .section-1 {
    display: none;
  }

  .section-2 {
    display: flex;
    text-align: center;
    /* margin: 0 10vh; */
    justify-content: center;
  }

  .section-2 img {
    width: 90%;
    margin-right: 0;
    margin-left: 0;
  }

  .section-3 {
    display: contents;
  }

  .section-3 {
    padding-right: 0;
    margin-top: 20px;
  }

  .social-networking {
    display: contents;
  }

  .section-3 .social-networking a {
    margin-top: 0;
  }

  .hero-section {
    display: inline;
  }

  .hero-2 .nav {
    color: var(--color-black);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #Close {
    display: inline;
    background: none;
    border: none;
    font-size: 60px;
  }

  #hero_2 .hero-2 {
    display: none;
  }

  .nav {
    display: none;
  }

  .active {
    display: inline;
  }

  .hero-2 .nav ul {
    position: absolute;
    display: grid;
    text-align: center;
    animation-name: navbar;
    animation-duration: 2s;
    background-color: var(--color-logo);
    color: var(--color-black);
    width: 100%;
    height: 61%;
    justify-content: center;
  }

  .hero-2 .nav ul a {
    color: var(--color-white);
  }

  #nav-media {
    position: absolute;
  }

  @keyframes navbar {
    from {
      transform: translateX(-875px);
    }

    to {
      transform: translateX(0);
    }
  }

  #hero-2 ul li {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #hero-2 ul li a {
    font-weight: bolder;
    color: var(--color-white);
    font-family: var(--font-family-Domine);
  }

  #main {
    background-position-y: 6vh;
    background-size: 105vh;
    background-position-x: -8vh;
    min-height: 20vh;
  }

  #main .shop_name h1 {
    font-size: 50px;
  }

  #main .shop_name p {
    font-size: 18px;
  }

  #videos-section .main-text p {
    font-size: 22px;
    padding: 0px 50px;
  }

  #videos-section .video {
    padding: 8px 14px;
    display: grid;
  }

  #videos-section .video video {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 8px 18px 0 66px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .video-text h3 {
    margin: 28px 0 14px 0;
  }

  #videos-section .video .video-text {
    padding: 0 30px 0 79px;
  }

  .info-main {
    padding: 2px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  .image-info-text-box img {
    width: 60vh;
    height: 50vh;
    padding-bottom: 21px;
    object-fit: cover;
  }

  .text-info-text-box p {
    padding: 0 10vh 0 13vh;
    text-indent: 50px;
    text-align: justify;
    margin-bottom: 50px;
    text-shadow: 0 0 black;
    font-size: 23px;
  }

  /* footer */
  .footer {
    width: 100%;
  }

  .footer-col {
    padding: 0 64px;
  }

  .footer-col h4 {
    font-size: 9px;
    color: var(--color-white);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 100;
    position: relative;
  }

  .copy p {
    padding: 0 64px;
  }
}

/*  !Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 767.98px) {
  section {
    /* min-height: 50vh; */
    min-width: 100%;
  }

  #hero-section {
    min-height: 13vh;
  }

  .hero #navbar-icon {
    border: none;
    background-color: var(--color-white);
    display: flex;
    margin: 26px 12px;
    font-size: 35px;
  }

  .hero-2 .nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
  }

  .section-1 {
    display: none;
  }

  .section-2 {
    display: flex;
    text-align: center;
    /* margin: 0 10vh; */
    justify-content: center;
  }

  .section-2 img {
    width: 90%;
    margin-right: 0;
    margin-left: 0;
  }

  .section-3 {
    display: contents;
  }

  .section-3 {
    padding-right: 0;
    margin-top: 20px;
  }

  .social-networking {
    display: contents;
  }

  .section-3 .social-networking a {
    margin-top: 0;
  }

  .hero-section {
    display: inline;
  }

  .hero-2 .nav {
    color: var(--color-black);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #Close {
    display: inline;
    background: none;
    border: none;
    font-size: 60px;
  }

  #hero_2 .hero-2 {
    display: none;
  }

  .nav {
    display: none;
  }

  .active {
    display: inline;
  }

  .hero-2 .nav ul {
    position: absolute;
    display: grid;
    text-align: center;
    animation-name: navbar;
    animation-duration: 2s;
    background-color: var(--color-logo);
    color: var(--color-black);
    width: 100%;
    height: 61%;
    justify-content: center;
  }

  .hero-2 .nav ul a {
    color: var(--color-white);
  }

  #nav-media {
    position: absolute;
  }

  @keyframes navbar {
    from {
      transform: translateX(-875px);
    }

    to {
      transform: translateX(0);
    }
  }

  #hero-2 ul li {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #hero-2 ul li a {
    font-weight: bolder;
    color: var(--color-white);
    font-family: var(--font-family-Domine);
  }

  #main {
    background-position-y: -3vh;
    background-size: 150vh;
    background-position-x: -24vh;
    min-height: 20vh;
  }

  #main .shop_name h1 {
    font-size: 50px;
  }

  #main .shop_name p {
    font-size: 18px;
  }

  #videos-section .main-text p {
    font-size: 22px;
    padding: 0px 50px;
  }

  #videos-section .video {
    padding: 8px 14px;
    display: grid;
  }

  #videos-section .video video {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 8px 47px 0 66px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .video-text h3 {
    margin: 28px 0 14px 0;
  }

  #videos-section .video .video-text {
    padding: 0 30px 0 79px;
  }

  .info-main {
    padding: 2px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  .image-info-text-box img {
    width: 70%;
    height: auto;
    padding-bottom: 21px;
    object-fit: cover;
  }

  .text-info-text-box p {
    /* padding: 0 10vh 0 13vh; */
    text-indent: 50px;
    text-align: justify;
    margin-bottom: 50px;
    text-shadow: 0 0 black;
    font-size: 23px;
  }

  /* footer */
  .footer {
    width: 100%;
  }

  .footer-col {
    width: 34%;
    margin-bottom: 30px;
  }

  .row {
    flex-wrap: unset;
  }

  .copy p {
    padding: 0 64px;
  }
}

/* !Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) and (min-width: 991.98px) {
  section {
    min-width: 100%;
    min-height: 50vh;
  }

  #hero-section {
    min-height: 13vh;
  }

  .hero #navbar-icon {
    border: none;
    background-color: var(--color-white);
    display: flex;
    margin: 0 25px;
    font-size: 39px;
  }

  .hero-2 .nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
  }

  .section-1 {
    display: none;
  }

  .section-2 {
    display: flex;
    text-align: center;
    margin: 0 12rem;
    justify-content: center;
  }

  .section-2 img {
    width: 50vh;
    margin-right: 0;
    margin-left: 0;
  }

  .section-3 {
    display: contents;
  }

  .section-3 {
    padding-right: 0;
    margin-top: 20px;
  }

  .social-networking {
    display: block;
    font-size: 42px;
  }

  .section-3 .social-networking a {
    margin-top: 0;
    padding: 0 9px 0 0;
  }

  .hero-section {
    display: inline;
  }

  .hero-2 .nav {
    color: var(--color-black);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #Close {
    display: inline;
    background: none;
    border: none;
    font-size: 60px;
  }

  #hero_2 .hero-2 {
    display: none;
  }

  .nav {
    display: none;
  }

  .active {
    display: inline;
  }

  .hero-2 .nav ul {
    position: absolute;
    display: grid;
    text-align: center;
    animation-name: navbar;
    animation-duration: 2s;
    background-color: var(--color-logo);
    color: var(--color-black);
    width: 100vh;
    height: 61%;
    justify-content: center;
  }

  .hero-2 .nav ul {
    width: 56vh;
    height: 40%;
  }

  .hero-2 .nav ul a {
    color: var(--color-white);
  }

  #nav-media {
    position: absolute;
  }

  @keyframes navbar {
    from {
      transform: translateX(-875px);
    }

    to {
      transform: translateX(0);
    }
  }

  #hero-2 ul li {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #hero-2 ul li a {
    font-weight: bolder;
    color: var(--color-white);
    font-family: var(--font-family-Domine);
  }

  #main {
    background-position-y: 0vh;
    background-size: 150vh;
    background-position-x: 0;
  }

  #main .shop_name {
    padding: 30% 0;
  }

  #main .shop_name p {
    font-size: 27px;
    margin-bottom: 0;
  }

  #videos-section .main-text p {
    font-size: 22px;
    padding: 0px 50px;
  }

  #videos-section .video {
    padding: 20px;
  }

  #videos-section .video video {
    width: 50%;
  }

  #videos-section .video .video-text {
    padding: 60px;
  }

   /* not find style  */
   .hero-2 .nav ul {
    width: 100%;
    height: 87%;
}
}

/*! X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) and (min-width: 1199.98px) {
  #hero-2 ul li {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #hero-2 ul li a {
    font-weight: bolder;
    color: var(--color-white);
    font-family: var(--font-family-Domine);
  }

  #main {
    section {
      min-width: 100%;
      min-height: 50vh;
    }

    #hero-section {
      min-height: 13vh;
    }

    .hero #navbar-icon {
      border: none;
      background-color: var(--color-white);
      display: flex;
      margin: 0 25px;
      font-size: 39px;
    }

    .hero-2 .nav ul li a {
      text-decoration: none;
      color: var(--color-white);
      cursor: pointer;
    }

    .section-1 {
      display: none;
    }

    .section-2 {
      display: flex;
      text-align: center;
      margin: 0 12rem;
      justify-content: center;
    }

    .section-2 img {
      width: 50vh;
      margin-right: 0;
      margin-left: 0;
    }

    .section-3 {
      display: contents;
    }

    .section-3 {
      padding-right: 0;
      margin-top: 20px;
    }

    .social-networking {
      display: block;
      font-size: 42px;
    }

    .section-3 .social-networking a {
      margin-top: 0;
      padding-right: 2rem;
    }

    .hero-section {
      display: inline;
    }

    .hero-2 .nav {
      color: var(--color-black);
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }

    #Close {
      display: inline;
      background: none;
      border: none;
      font-size: 60px;
    }

    #hero_2 .hero-2 {
      display: none;
    }

    .nav {
      display: none;
    }

    .active {
      display: inline;
    }

    .hero-2 .nav ul {
      position: absolute;
      display: grid;
      text-align: center;
      animation-name: navbar;
      animation-duration: 2s;
      background-color: var(--color-logo);
      color: var(--color-black);
      width: 100vh;
      height: 61%;
      justify-content: center;
    }

    .hero-2 .nav ul {
      width: 56vh;
      height: 40%;
    }

    .hero-2 .nav ul a {
      color: var(--color-white);
    }

    #nav-media {
      position: absolute;
    }

    @keyframes navbar {
      from {
        transform: translateX(-875px);
      }

      to {
        transform: translateX(0);
      }
    }

    #hero-2 ul li {
      margin-top: 30px;
      margin-bottom: 10px;
    }

    #hero-2 ul li a {
      font-weight: bolder;
      color: var(--color-white);
      font-family: var(--font-family-Domine);
    }

    #main {
      min-height: 40vh;
      background-position-y: 2vh;
    }

    #main .shop_name {
      padding: 30% 0;
    }

    #main .shop_name p {
      font-size: 27px;
      margin-bottom: 0;
    }

  }

  #main .shop_name {
    padding: 20% 0;
  }

  #main .shop_name p {
    font-size: 27px;
    margin-bottom: 0;
  }

  */ section {
    min-width: 100%;
    min-height: 50vh;
  }

  #hero-section {
    min-height: 13vh;
  }

  .hero #navbar-icon {
    border: none;
    background-color: var(--color-white);
    display: flex;
    margin: 0 25px;
    font-size: 39px;
  }

  .hero-2 .nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
  }

  .section-1 {
    display: none;
  }

  .section-2 {
    display: flex;
    text-align: center;
    margin: 0 12rem;
    justify-content: center;
  }

  .section-2 img {
    width: 50vh;
    margin-right: 0;
    margin-left: 0;
  }

  .section-3 {
    display: contents;
  }

  .section-3 {
    padding-right: 0;
    margin-top: 20px;
  }

  .social-networking {
    display: block;
    font-size: 42px;
  }

  .section-3 .social-networking a {
    margin-top: 0;
    padding-right: 2rem;
  }

  .hero-section {
    display: inline;
  }

  .hero-2 .nav {
    color: var(--color-black);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #Close {
    display: inline;
    background: none;
    border: none;
    font-size: 60px;
  }

  #hero_2 .hero-2 {
    display: none;
  }

  .nav {
    display: none;
  }

  .active {
    display: inline;
  }

  .hero-2 .nav ul {
    position: absolute;
    display: grid;
    text-align: center;
    animation-name: navbar;
    animation-duration: 2s;
    background-color: var(--color-logo);
    color: var(--color-black);
    width: 100vh;
    height: 61%;
    justify-content: center;
  }

  .hero-2 .nav ul {
    width: 56vh;
    height: 40%;
  }

  .hero-2 .nav ul a {
    color: var(--color-white);
  }

  #nav-media {
    position: absolute;
  }

  @keyframes navbar {
    from {
      transform: translateX(-875px);
    }

    to {
      transform: translateX(0);
    }
  }

  #hero-2 ul li {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #hero-2 ul li a {
    font-weight: bolder;
    color: var(--color-white);
    font-family: var(--font-family-Domine);
  }

  #main {
    min-height: 40vh;
    background-position-y: 2vh;
  }

  #main .shop_name {
    padding: 30% 0;
  }

  #main .shop_name p {
    font-size: 27px;
    margin-bottom: 0;
  }

  #videos-section .main-text p {
    font-size: 22px;
    padding: 0px 50px;
  }

  #videos-section .video {
    padding: 20px;
  }

  #videos-section .video video {
    width: 50%;
  }

  #videos-section .video .video-text {
    padding: 60px;
  }
}

/* ! XX-Large devices (larger desktops) */