/* !X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px)  {

    #sign-page {
        min-width: 100%;
        margin: 44% 0;
    }


    .sign-in-page label {
        font-size: 2vh;
    }

    .sign-in-page h2 {
        margin-top: 0vh;
        font-size: 30px;
        margin-bottom: 2vh;
    }

    .sign-welcome-text h1 {
        margin-bottom: 2rem;
        font-size: 30px;
        margin-top: 30px;
    }

    .sign-welcome-text p {
        text-align: justify;
        font-size: 13px;
        margin-bottom: 10vh;
    }

    .sign-in-page input {
        width: 100%;
        padding: 3px 15px;
        margin: 7px 0;
        color: var(--color-white);
    }

    .sign-in-page button {
        margin-top: 15px;
        padding: 12px 44px;
    }

    .sign-main {
        padding: 10px 15px 10px 15px;
        margin: 0px 11px 0px 11px;
    }

    .sign-welcome-text {
        margin-right: 87px;
    }

    .sign-in-page .sign-icon img {
        margin: 10px;
    }

}

/* !Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 575.98px) {
    #sign-page {
        min-width: 100%;
        margin: 36% 0;
    }


    .sign-in-page label {
        font-size: 2vh;
    }

    .sign-in-page h2 {
        margin-top: 0vh;
        font-size: 30px;
        margin-bottom: 2vh;
    }

    .sign-welcome-text h1 {
        margin-bottom: 2rem;
        font-size: 30px;
        margin-top: 30px;
    }

    .sign-welcome-text p {
        text-align: justify;
        font-size: 13px;
        margin-bottom: 10vh;
    }

    .sign-in-page input {
        width: 100%;
        padding: 3px 15px;
        margin: 7px 0;
        color: var(--color-white);
    }

    .sign-in-page button {
        margin-top: 15px;
        padding: 12px 44px;
    }

    .sign-main {
        padding: 10px 15px 10px 15px;
        margin: 0px 11px 0px 11px;
    }

    .sign-welcome-text {
        margin-right: 87px;
    }

    .sign-in-page .sign-icon img {
        margin: 10px;
    }
}

/*  !Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 767.98px) {
    #sign-page {
        min-width: 100%;
        margin: 21% 0;
    }


    .sign-in-page label {
        font-size: 5vh;
    }

    .sign-in-page h2 {
        margin-top: 0vh;
        font-size: 37px;
        margin-bottom: 2vh;
    }

    .sign-welcome-text h1 {
        margin-bottom: 2rem;
        font-size: 50px;
        margin-top: 15px;
    }

    .sign-welcome-text p {
        text-align: justify;
        font-size: 20px;
        margin: 0 8vh;
    }

    .sign-in-page input {
        width: 100%;
        padding: 10px 15px;
        margin: 7px 0;
        color: var(--color-white);
    }

    .sign-in-page button {
        margin-top: 15px;
        padding: 12px 44px;
    }

    .sign-main {
        padding: 31px;
        margin: 0px 11px 0px 11px;
    }

    .sign-welcome-text {
        margin-right: 87px;
    }

    .sign-in-page .sign-icon img {
        margin: 8px 23px;
    }
}

/* !Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) and (min-width: 991.98px) {
    #sign-page {
        min-width: 100%;
        margin: 21% 0;
    }


    .sign-in-page label {
        font-size: 5vh;
    }

    .sign-in-page h2 {
        margin-top: 0vh;
        font-size: 37px;
        margin-bottom: 2vh;
    }

    .sign-welcome-text h1 {
        margin-bottom: 2rem;
        font-size: 50px;
        margin-top: 15px;
    }

    .sign-welcome-text p {
        text-align: justify;
        font-size: 20px;
        margin: 0 8vh;
    }

    .sign-in-page input {
        width: 100%;
        padding: 10px 15px;
        margin: 7px 0;
        color: var(--color-white);
    }

    .sign-in-page button {
        margin-top: 15px;
        padding: 12px 44px;
    }

    .sign-main {
        padding: 31px;
        margin: 0px 11px 0px 11px;
    }

    .sign-welcome-text {
        margin-right: 87px;
    }

    .sign-in-page .sign-icon img {
        margin: 8px 23px;
    }
}

/*! X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) and (min-width: 1199.98px) {
    #sign-page {
        min-width: 100%;
        margin: 21% 0;
    }


    .sign-in-page label {
        font-size: 5vh;
    }

    .sign-in-page h2 {
        margin-top: 0vh;
        font-size: 37px;
        margin-bottom: 2vh;
    }

    .sign-welcome-text h1 {
        margin-bottom: 2rem;
        font-size: 50px;
        margin-top: 15px;
    }

    .sign-welcome-text p {
        text-align: justify;
        font-size: 20px;
        margin: 0 8vh;
    }

    .sign-in-page input {
        width: 100%;
        padding: 10px 15px;
        margin: 7px 0;
        color: var(--color-white);
    }

    .sign-in-page button {
        margin-top: 15px;
        padding: 12px 44px;
    }

    .sign-main {
        padding: 31px;
        margin: 0px 11px 0px 11px;
    }

    .sign-welcome-text {
        margin-right: 87px;
    }

    .sign-in-page .sign-icon img {
        margin: 8px 23px;
    }
}

/* ! XX-Large devices (larger desktops) */